.compact-picker {
  width: 243px !important;
}

.MuiButton-root {
  margin: 10px 5px !important;
}

.MuiButton-contained.Mui-disabled {
  background-color: var(--color-button-background-disabled) !important;
}

.MuiButton-outlined.Mui-disabled {
  border: solid 1px var(--color-button-border-disabled) !important;
}

.MuiButton-root.Mui-disabled {
  color: var(--color-button-text-disabled) !important;
}

.MuiLinearProgress-root {
  margin: 10px 0 !important
}

.MuiFormControl-root {
  margin: 10px 5px !important;
}

.MuiFormLabel-root {
  color: var(--color-text-soft) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--color-border) !important;
}

.MuiInputBase-root {
  color: var(--color-text) !important;
}

.MuiNativeSelect-select:not([multiple]) option, 
.MuiNativeSelect-select:not([multiple]) optgroup {
  background-color: var(--color-boxes) !important;
}

.MuiNativeSelect-icon {
  color: var(--color-text-soft) !important;
}